@font-face {
  font-family: 'Apercu Mono';
  src: url(./Fonts/Apercu-Mono.ttf) format('truetype');
}

@font-face {
  font-family: 'Apercu Mono Bold';
  src: url(./Fonts/Apercu-MonoBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Albra Regular';
  src: url(./Fonts/Albra Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Albra Light';
  src: url(./Fonts/Albra Light.otf) format('truetype');

}
::-moz-selection { /* Code for Firefox rgba(202,172,255,1)*/
  color: black;
  background: black;
  
}
::selection {
  color: black; 
  background: black;
}

body, html{
  margin: 20px;
  padding: 0;
  background-color: black;
  cursor: url('./images/cursor_main.png'), auto;
  pointer: url('./images/cursor_main.png'), auto;
}

.imgbox {
  align: center;
  margin: 0, auto;
  border: 2px solid rgba(202, 172, 255, .24);
}

.header {
  font-family: 'Albra Regular';
  color: white;
  font-size: 250pt;
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
  
}

.disclaimer {
  font-family: 'Apercu Mono';
  color: white;
  font-size: 9pt;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.descrip {
  font-family: 'Apercu Mono';
  color: white;
  font-size: 12pt;
  width: 80%;
}

.copyright {
  font-family: 'Apercu Mono';
  color: #424242;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a:link {
  font-family: 'Apercu Mono';
  color: #caacff; 
  background-color: transparent;
  font-size: 9pt;
  width: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a:visited {
  font-family: 'Apercu Mono';
  color: #caacff; 
  background-color: transparent;
  font-size: 9pt;
  width: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a:hover {
  font-family: 'Apercu Mono';
  color: white; 
  background-color: transparent;
  font-size: 9pt;
  width: 100%;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: none;
}

.statement {
  font-family: 'Albra Light';
  color: white;
  font-size: 36pt;
  width: 100%;
  text-align: left;
}
