@font-face {
  font-family: Apercu Mono;
  src: url(./Fonts/Apercu-Mono.ttf);
}
body, html{
  font-family: 'Apercu Mono';
  margin: 20px;
  padding: 0;
  background-color: black;
  overflow-y: scroll;
}

.imgbox {
  align: center;
  margin: 0, auto;
}

.disclaimer {
  color: red;
  font-size: 9pt;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.descrip {
  font-family: 'Space Mono';
  color: white;
  font-size: 16pt;
  width: 70%;
}
