@font-face {
  font-family: 'Apercu Mono';
  src: url(./Fonts/Apercu-Mono.ttf) format('truetype');
}

@font-face {
  font-family: 'Apercu Mono Bold';
  src: url(./Fonts/Apercu-MonoBold.ttf) format('truetype');
}

body, html{
  margin: 20px;
  padding: 0;
  background-color: black;
}

.imgbox {
  align: center;
  margin: 0, auto;
}

.header {
  font-family: 'Apercu Mono Bold';
  color: white;
  font-size: 48pt;
  padding-top: 100px;
  padding-bottom: 300px;
  text-align: center;
}

.disclaimer {
  font-family: 'Apercu Mono Bold';
  color: white;
  font-size: 9pt;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.descrip {
  font-family: 'Apercu Mono';
  color: white;
  font-size: 12pt;
  width: 80%;
}

.descrip {
  font-family: 'Apercu Mono';
  color: white;
  font-size: 12pt;
  width: 80%;
}

.copyright {
  font-family: 'Apercu Mono';
  color: rgba(255,255,255,80);
  font-size: 9pt;
  width: 100%;
  text-align: center;
}
